@model List<BlogStore.EntityLayer.Entities.Article>

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="widget">
                    <h3 class="mb-4">Hakkımızda</h3>
                    <p>BlogStore, bilgi paylaşımı ve içerik üretimi için tasarlanmış modern bir blog platformudur. Kullanıcılarımızın deneyimlerini ve bilgilerini paylaşabilecekleri güvenli bir ortam sunuyoruz.</p>
                </div> <!-- /.widget -->
                <div class="widget">
                    <h3>Sosyal Medya</h3>
                    <ul class="list-unstyled social">
                        <li><a href="#"><span class="icon-instagram"></span></a></li>
                        <li><a href="#"><span class="icon-twitter"></span></a></li>
                        <li><a href="#"><span class="icon-facebook"></span></a></li>
                        <li><a href="#"><span class="icon-linkedin"></span></a></li>
                        <li><a href="#"><span class="icon-pinterest"></span></a></li>
                        <li><a href="#"><span class="icon-dribbble"></span></a></li>
                    </ul>
                </div> <!-- /.widget -->
            </div> <!-- /.col-lg-4 -->
            <div class="col-lg-4 ps-lg-5">
                <div class="widget">
                    <h3 class="mb-4">Şirket</h3>
                    <ul class="list-unstyled float-start links">
                        <li><a href="#">Hakkımızda</a></li>
                        <li><a href="#">Hizmetler</a></li>
                        <li><a href="#">Vizyon</a></li>
                        <li><a href="#">Misyon</a></li>
                        <li><a href="#">Şartlar</a></li>
                        <li><a href="#">Gizlilik</a></li>
                    </ul>
                    <ul class="list-unstyled float-start links">
                        <li><a href="#">Ortaklar</a></li>
                        <li><a href="#">İş</a></li>
                        <li><a href="#">Kariyer</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">SSS</a></li>
                        <li><a href="#">Yaratıcı</a></li>
                    </ul>
                </div> <!-- /.widget -->
            </div> <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="widget">
                    <h3 class="mb-4">Son Yazılar</h3>
                    <div class="post-entry-footer">
                        <ul>
                            @if (Model != null && Model.Any())
                            {
                                @foreach (var article in Model.Take(3))
                                {
                                    <li>
                                        <a href="@Url.Action("ArticleDetail", "Article", new { id = article.ArticleId })">
                                            <img src="@(string.IsNullOrEmpty(article.ImageUrl) ? "/blogy-1.0.0/images/img_1_sq.jpg" : article.ImageUrl)" alt="Resim" class="me-4 rounded">
                                            <div class="text">
                                                <h4>@(article.Title?.Length > 50 ? article.Title.Substring(0, 50) + "..." : article.Title)</h4>
                                                <div class="post-meta">
                                                    <span class="mr-2">@article.CreatedDate.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("tr-TR"))</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                }
                            }
                            else
                            {
                                <li>
                                    <a href="#">
                                        <img src="/blogy-1.0.0/images/img_1_sq.jpg" alt="Resim" class="me-4 rounded">
                                        <div class="text">
                                            <h4>Henüz makale bulunmuyor</h4>
                                            <div class="post-meta">
                                                <span class="mr-2">-</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div> <!-- /.widget -->
            </div> <!-- /.col-lg-4 -->
        </div> <!-- /.row -->

        <div class="row mt-5">
            <div class="col-12 text-center">
                <p>
                    Telif Hakkı &copy;<script>document.write(new Date().getFullYear());</script>. Tüm Hakları Saklıdır. &mdash; Untree.co tarafından sevgiyle tasarlandı, ThemeWagon tarafından dağıtıldı
                </p>
            </div>
        </div>
    </div> <!-- /.container -->
</footer> 